
// cotizaciones tables
.cotizacion-container {
  width: 90%;
  margin: auto;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 80px;
  border-color: red;
  th {
    font-weight: bold;
    color: black;
    font-size: 25px;
    padding: 10px;
    vertical-align: top;
  }
  td {
    padding: 10px;

  }
  img {
    marign: auto;
    vertical-align: top;
    width: 34px;
    height: 20px;
  }
}

.dolar-footer {
  text-align: right;
  font-weight: bold;
  color: black;
  font-size: 12px;
  margin-bottom: 80px;

  a {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}

//contact part

.description {
  h1 {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    background-color: #002783;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 0px;

  }
  h3 {
    font-weight: bold;
    text-align: left;
    color: white;
    background-color: #3c3c3c;
    margin-top: 0px;
    padding: 10px;

  }
}
.contact {

  h1 {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    background-color: #002783;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
}

.direccion {
  text-align: center;
  display: flex;
  justify-content: center;

}

.direccion-content {

  text-align: center;
  margin-right: 50px;
  margin-top: 80px;

  .logo {
    width: 280px;
    border: none;
    margin-top: -20px;
  }
  img {
    width: 370px;
    border: 2px solid;
    border-color: white;
    border-radius: 6px;
  }

  h3 {
    font-weight: bold;
    font-size: 24px;
  }

  p {
    margin-top: 0px;
    margin-bottom: 1px;
    font-size: 16px;
    i {
      font-size: 25px;
    }
  }

  a {
    color: black;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: lightgrey;
    }
  }

  h4 {
    font-weight: bold;
    font-size: 16px;
  }

  h2 {

    font-size: 12px;
  }

}
.direccion-img {

  img {
    margin-top: 50px;
    margin-bottom: 80px;
    width: 570px;
    height: 540px;
    border: 2px solid;
    border-color: white;
    border-radius: 6px;
    text-align: center;

  }
}

@media (max-width: 800px) {
  .direccion {
    display: block;
  }
  .direccion-img {
    img {
       // margin-top: 50px;
    margin-bottom: 80px;
    width: 370px;
    height: 330px;
    border: 2px solid;
    border-color: white;
    border-radius: 6px;
    text-align: center;
    }
  }
  .direccion-content {
     .logo {
      display: block;
      text-align: center;
      margin: auto;
      width: 330px;
     }

    margin-right: 0px;
    img {
     display: none;
    }

    h3 {
    font-weight: bold;
    font-size: 35px;
  }

  p {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    i {
      font-size: 25px;
    }
  }

  a {
    color: black;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: lightgrey;
    }
  }

  h4 {
    font-weight: bold;
    font-size: 16px;
  }

  h2 {

    font-size: 12px;
  }
  }
}



// carrousel

.carousel-item {
 img {
  height: 100vh;
  object-fit: cover;



}

}

.carousel-caption {
 bottom: 340px;
 background-color: rgba(0,0,0,0.5);
 padding: 20px;
 border-radius: 6px;



 h3 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.9);



}

p {
    font-size: 15px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9);


}

}


@media (max-width: 500px) {
  .carousel-caption {
    bottom: 95px;
  }
}


















