.banner {
  margin-top: 61px;
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  text-align: center;

}

.banner-container {
    width: 90%;
    padding: 30px;
    margin: auto;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    border-radius: 6px;
    margin-bottom: 210px;

}

.banner p {

  font-size: 25px;
  color: lightgrey;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  margin-bottom: 0px;
}

.banner h1 {

  color: white;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  font-size: 48px;
  font-weight: bold;
  margin-top: -10px;
}

.banner h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  width: 100%;
  line-height: 22px;


}

@media (max-width: 600px) {
  .banner-container {
    margin-bottom: 90px;
  }
}
